<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidapp.resistancecalculator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.androidapp.resistancecalculator.WelcomePageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androidapp.resistancecalculator.FirstBandActivity"
            android:label="@string/title_activity_first_band" >
        </activity>
        <activity
            android:name="com.androidapp.resistancecalculator.SecondBandActivity"
            android:label="@string/title_activity_second_band" >
        </activity>
        <activity
            android:name="com.androidapp.resistancecalculator.ThirdBandActivity"
            android:label="@string/title_activity_third_band" >
        </activity>
        <activity
            android:name="com.androidapp.resistancecalculator.FourthBandActivity"
            android:label="@string/title_activity_fourth_band" >
        </activity>
        <activity
            android:name="com.androidapp.resistancecalculator.FinalActivity"
            android:label="@string/title_activity_final" >
        </activity>
        <activity
            android:name="com.androidapp.resistancecalculator.DetailsActivity"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name="com.androidapp.resistancecalculator.DocumentActivity"
            android:label="@string/title_activity_document" >
        </activity>
    </application>

</manifest>